<footer class="footer">
  <div class="container">
    <hr>
    <div class="row justify-content-center">
      <div class="col-md-9 text-center mb-3">
        <div class="footer-site-logo">
          <a href="#" class="social-link">izwest</a>
        </div>
        <ul class="list-unstyled nav-links mb-2">
          <li><a class="social-link" href="#">Twitter</a></li>
          <li><a class="social-link" href="#">Instagram</a></li>
          <li><a class="social-link" href="#">LinkedIn</a></li>
        </ul>
        <div class="copyright">
          <p class="mb-0">&copy; izwest. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>