<div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="text-center">
          <h1>DESIGNS</h1>
        </div>
      </div>
    </div>

    <h4 class="text-capitalize text-center mt-5">{{design.name}}</h4>
  
    <div class="row mt-5">
        <div class="col-lg-4 mt">
            <h4>Project Details</h4>
            <div class="project-details mt-5">
              <p>Name: {{design.name}}</p>
              <p>Subject: {{design.subject}}</p>
              <p>Color: {{design.color}}</p>
              <p>Category: {{design.category}}</p>
              <p>Date: {{design.date}}</p>
            </div>
            
        </div>
        <div class="col-lg-4">
            <h4>Project Description</h4>
            <div class="project-details mt-5">
              <p>{{design.description}}</p>
            </div>
            
        </div>
        <div class="col-lg-4">
            <h4>Project Gallery</h4>
            <div class="project-details mt-5">
              <img src="assets/img/{{design.imageUrl}}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
    
  
  
  </div>
  