.card {
    border: 0;
    border-radius: 0;
    background-color: transparent !important;
}

.card-img-top {
    border-radius: 0;
}

.card-body {
    text-transform: capitalize;
    padding: 1rem 0rem;
}

.card-title {
    font-size: 1.5srem;
}

.card-subtitle {
    font-size: 1rem;
}

.card-title a {
    color: #000;
    text-decoration: none;
}