<div class="row">
    <div class="col-4">
      <div class="card my-2" style="width: 18rem;" *ngFor="let design of designs">
        <img src="assets/img/{{design.imageUrl}}" class="card-img">
        <div class="card-body">
          <div>
            <h5 class="card-title">
              <a routerLink='detail/{{design.id}}'>{{design.name}}</a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ design.description}}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  