<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-2 lead">Apparently you lost your way.</div>
                <a [routerLink]="['/article']" class="nolink font-weight-bold" routerLinkActive="router-link-active">Click Here</a>
            </div>
        </div>
    </div>
</div>
