<div class="container mt-5">
    <div class="row justify-content-center ">
        <div class="col-lg-4 ">
            <div class="card">
                <img src="/assets/img/{{profile1.imageUrl}}" class="card-img-top" style="height: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{profile1.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{profile1.description}}</h6>
                </div>
              </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img src="/assets/img/{{profile2.imageUrl}}" class="card-img-top" style="height: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{profile2.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{profile2.description}}</h6>
                </div>
              </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img src="/assets/img/{{profile3.imageUrl}}" class="card-img-top" style="height: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{profile3.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{profile3.description}}</h6>
                </div>
              </div>
        </div>
    </div>
</div>
